.message(data-message-id="#{message.id}")
  .message__user-name
    = message.user.name
  .message__posted-time
    = message.created_at.to_s(:datetime)
  .message__content
    .content__text
      = message.content if message.content.present?
    .content__image
      = image_tag message.image if message.image.present?
