.chat-side
  .user-info
    %h4.user-info__login-user-name
      = current_user.name
    .user-info__icons
      = link_to new_group_path do
        = fa_icon 'edit', class: 'icon'
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog', class: 'icon'

  .group-list
    = render partial: "group-list"

.chat-main
  .chat-main__header
    .group-info__upper
      .selected-group-name
        = @group.name
      = link_to 'Edit', edit_group_path(@group) , class: "group-edit"
    .group-info__lower
      .group-members
        Member:
        %span
          - @group.users.each do |user|
            = user.name

  .chat-main__body
    = render partial: 'message', collection: @messages

  .chat-main__footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message-content', placeholder: 'type a message'
      = f.label :image do
        = fa_icon 'image'
        = f.file_field :image, class: 'picture'
      = f.submit 'Send', class: 'send-btn'
